body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: grid;
    grid-template-columns: repeat(8,100px);
    grid-template-rows: repeat(8,100px);
}

.chessboard-cell {
    width: 100px;
    height: 100px;
}

.white {
    background-color: #f0d9b5;
}

.black {
    background-color: #b58863;
}